[
	{hb, [
		{metrics, [
			#{
				type => histogram,
				name => "ao_cache_write_time",
				description => "Histogram of write operation duration",
				buckets => [5, 10, 100, 500, 1000]
			},
			#{
				type => counter,
				name => "ao_cache_read",
				description => "Counts ao cache read operation"
			},
			#{
				type => counter,
				name => "ao_cache_write",
				description => "Counts ao cache write operation"
			},
			#{
				type => counter,
				name => "ao_cache_list",
				description => "Counts ao cache list operation"
			},

			#{
				type => counter,
				name => "ao_cache_resolve",
				description => "Counts ao cache resolve operation"
			},

			#{
				type => counter,
				name => "ao_cache_type",
				description => "Counts ao cache type operation"
			},

			#{
				type => counter,
				name => "ao_make_link",
				description => "Counts ao_cache ao_make_link operation"
			}



		]}
	]}
].
